<footer class="footer footer-transparent  flex-column flex-md-row">
    <div class="row">
        
        <h5 class=" name py-3 px-3">C'est la vie</h5>
        <h6 class="py-3 px-3">Call us: +91 **********</h6>
    <div>
        <a href="https://www.instagram.com/accounts/login/">
            <img src = "../../assets/insta_white.png" alt = "Instagram" >
        </a>
        <a href="https://www.instagram.com/accounts/login/">
            <img src = "../../assets/facebook_white.png" alt = "Instagram" >
        </a>
        <a href="https://www.instagram.com/accounts/login/">
            <img src = "../../assets/twitter_white.png" alt = "Instagram" >
        </a>
        <a href="https://www.instagram.com/accounts/login/">
            <img src = "../../assets/mail_white.png" alt = "Instagram">
        </a>
    </div>
    
    </div>
    
    
</footer>