
.navbar{
    justify-content: space-between;
}

ul{
    display: flex;
    width: auto;
    margin-top: 0;
    list-style-type: none;
    font-size: 1.5em;
}
  
li{
    padding: 10px 10px;
}
a{
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
}
a:hover{
    cursor: pointer;
}
p{
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
}
