
<div class="top">
  <app-navbar></app-navbar>
  <div class="row">
    <header class="display-2 py-5 px-5">FINANCE</header>
  </div>
  <div class="container py-5">
    <div class="row">
        <!--get bill -->
        <div class="col-md-6 col-lg-4 py-5">
            <div class="card py-3 px-3">
              
                <div class="card-body">
                  <h5 class="card-title py-3 px-3"> GET BILL</h5>
                  <p class="card-text py-3 px-3">Enter the customer ID to get all bills.
                    <br> <br>
                    <a routerLink='/finance/getBill' class="stretched-link">Click here</a>
                  </p>
                </div>
            </div>
        </div>

        <!--add bill-->
        <div class="col-md-6 col-lg-4 py-5">
            <div class="card py-3 px-3">
              
                <div class="card-body">
                  <h5 class="card-title py-3 px-3">ADD BILL</h5>
                  <p class="card-text py-3 px-3">Add a bill.
                    <br> <br> <br>
                    <a routerLink='/finance/addBill' class="stretched-link">Click here</a>
                  </p>
                </div>
            </div>
        </div>

        <!--get income-->
        <div class="col-md-6 col-lg-4 py-5">
            <div class="card py-3 px-3">
              
                <div class="card-body">
                  <h5 class="card-title py-3 px-3">GET INCOME</h5>
                  <p class="card-text py-3 px-3">Get income for the given time period.
                    <br> <br>
                    <a routerLink='/finance/getIncome' class="stretched-link">Click here</a>
                  </p>
                </div>
            </div>
        </div>
        
    </div>
</div>

<app-footer-white></app-footer-white>

</div>


