<div class="container"><div class=" text-center mt-5 ">
    <h1>Get Reservation</h1>
</div>
<div class="row ">
    <div class="col-lg-7 mx-auto">
        <div class="card mt-2 mx-auto p-4 bg-light">
            <div class="card-body bg-light">
                <div class="container">
                    <form class="form">
                        <div class="form-group ">
                            <label for="name">Enter Reservation Id</label>
                            <input type="test" #checkInDate=ngModel class="form-control col-xs-4" [(ngModel)]="reservationData._id" name="checkInDate"  required>
                            <small [class.d-none] = "checkInDate.untouched || checkInDate.valid" class="text-danger">Check-In Date is required</small>
                        </div>
                        <div class="row">
                            <div class="col-md-12"> <button class="btn btn-success btn-send pt-2 btn-block " (click)="getReservation()" data-toggle="modal" data-target="#Modal2">Get Reservation</button> </div>
                        </div> 
                        <br>  <br> 
                        <div class="row">
                            <div class="col-md-12"> <button class="btn btn-success btn-send pt-2 btn-block " routerLink="/roomreservation">BACK</button> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
    </div> 
</div>
</div>

<!--modal for available-->
<div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel"> Update </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{response}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
</div>