<div class="top container-fluid">
    <app-navbar></app-navbar>
    <div class="row">
      <header class="display-2 py-5 px-5">our members</header>
    </div>
    <div class="row w-100 link ">
      <div class="col px-5"><a routerLink="/members/addMember">Add member</a></div>
      <div class="col px-5"><a routerLink ="/members/getMember">Get member </a></div>
      <div class="col px-5"><a routerLink ="/members/updateMember">Update member</a></div>
    </div>
    <br>
    <app-footer-white></app-footer-white>
</div>
