div{
    
    color: #333333;
}
app-navbar{
    color: #333333;
}
a{
    text-decoration: none;
    text-align: center;
    color: #333333;
}
a:hover{
    font-weight: bold;
    cursor: pointer;
}

h1{
    color: #333333;
    padding: 150px 0;
    font-weight: 400;
}
.modal- content{
    color: #333333;
}
.btn{
    padding: 10px;
    margin-right: 10px;
    
}

table .btn{
    margin: 2px;
}
