<footer class="footer footer-transparent  flex-column flex-md-row">
    <div class="row">
        
        <h5 class=" name py-3 mx-auto">C'est la vie</h5>
        <h6 class="py-3 mx-auto">Call us: +91 **********</h6>
    <div class="mx-auto">
        <a href="https://www.instagram.com/accounts/login/">
            <img src = "../../assets/instagram_black.png" alt = "Instagram" >
        </a>
        <a href="https://www.instagram.com/accounts/login/">
            <img src = "../../assets/facebook_black.png" alt = "Instagram" >
        </a>
        <a href="https://www.instagram.com/accounts/login/">
            <img src = "../../assets/twitter_black.png" alt = "Instagram" >
        </a>
        <a href="https://www.instagram.com/accounts/login/">
            <img src = "../../assets/email_black.png" alt = "Instagram">
        </a>
    </div>
    
    </div>
    
    
</footer>