<!--update members-->
<div class="media position-relative details ">

    <img class="mr-2" style="height: 144px; width: 144px" src="../../assets/update.png"
      alt="image">
  
    <div class="media-body px-5">
      <h5 class="">Update member</h5>
      <p class=" text-muted"> Enter details</p>
        <form class="form">
            <div class="form-group ">
                <label for="name">ID</label>
                <input type="text" #idg=ngModel class="form-control col-xs-4" [(ngModel)]="getMembersData._id" name="idg" [disabled]='display' placeholder="Enter ID" required>
                <small [class.d-none] = "idg.untouched || idg.valid ||display" class="text-danger">ID is required</small>
            </div>
            <br>
    
            <button type="button" class="btn" (click) = "getMembers()" data-toggle="modal" data-target="#Modal3" [disabled]='idg.invalid'>Get</button>
            <button type="button" class="btn ml-5" routerLink="/members">Back</button>
        </form>

        <form class="form" *ngIf='display'>
        <div class="form-group ">
          <label for="name">Name</label>
          <input type="text" #name=ngModel class="form-control col-xs-4" [(ngModel)]="getMembersData.name" name="name" placeholder="Enter name" required>
          <small [class.d-none] = "name.untouched || name.valid" class="text-danger">Name is required</small>
        </div>

        <div class="form-group">
            <p>Gender:</p>
                <input type="radio" id="male" name="gender" value="male" [(ngModel)]="getMembersData.gender">
                <label for="male">Male</label><br>
                <input type="radio" id="female" name="gender" value="female" [(ngModel)]="getMembersData.gender">
                <label for="female">Female</label><br>
                <input type="radio" id="other" name="gender" value="other" [(ngModel)]="getMembersData.gender">
                <label for="other">Other</label>
        </div>

        <div class="form-group ">
            <label for="contact">Contact</label>
            <input type="number" #contact=ngModel class="form-control col-xs-4" [(ngModel)]="getMembersData.contact" name="contact" placeholder="Enter contact" required>
            <small [class.d-none] = "contact.untouched || contact.valid" class="text-danger">Contact is required</small>
        </div>

        <div class="form-group ">
            <label for="email">Email</label>
            <input type="email" #email=ngModel class="form-control col-xs-4" [(ngModel)]="getMembersData.email" name="email" placeholder="Enter email" required>
            <small [class.d-none] = "email.untouched || email.valid" class="text-danger">Email is required</small>
        </div>

        <br>

        <button type="button" class="btn" (click) = "updateMembers()" data-toggle="modal" data-target="#Modal2">UPDATE</button>
       </form>
      
    </div>
</div>

<!--modal for update-->
<div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel"> Update </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{response}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
</div>