<!--get bills -->
<div  class="getBill">
    <app-navbar></app-navbar>
    <div class="details">
        <div class="row">
          <div class="">
    
            <!-- form card get -->
            <div class="card rounded-0">
              <div class="card-title py-5">
                <h3 class="text-center display-4">GET BILL</h3>
              </div>
              <div class="card-body">
                <form class="form">
                  <div class="form-group ">
                    <label for="id">Enter customer ID:</label>
                    <input type="text"  pattern="^[0-9a-fA-f]{24}$" #id=ngModel class="form-control col-xs-4" [(ngModel)]="getBillData.item" name="id" placeholder="Enter customer ID" required>
                    <small [class.d-none] = "id.untouched || id.valid" class="text-danger">Valid ID is required</small>
                  </div>
                  <br>
                  <div class="wrapper">
                    <button type="button" class="btn" (click) = "getBill() " data-toggle="modal" data-target="#Modal1" [disabled] = 'id.invalid'>Find</button>
                    <button type="button" class="btn ml-5" (click) = "back() ">Back</button>
                  </div>
                  
                  
                </form>
              </div>
              <!--/card-block-->
            </div>
            <!-- /form card login -->
      
          </div>
      
      
        </div>
      </div>
  </div>
  
  <!--modal for get-->
  <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel"> Bill </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{response}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>