
<div class="top">
    <app-navbar></app-navbar>
    <div class="row">
      <header class="display-3 py-5 px-5">room reservation</header>
    </div>
    <div class="container py-5">
      <div class="row">
          <!--add reservation -->
          <div class="col-md-6 col-lg-4 py-5">
              <div class="card py-3 px-3">
                
                  <div class="card-body">
                    <h5 class="card-title py-3 px-3"> add reservation </h5>
                    <p class="card-text py-3 px-3">Add a reservation.
                      <br> <br> <br>
                      <a routerLink='/roomreservation/addReservation' class="stretched-link">Click here</a>
                    </p>
                  </div>
              </div>
          </div>
  
          <!--available-->
          <div class="col-md-6 col-lg-4 py-5">
              <div class="card py-3 px-3">
                
                  <div class="card-body">
                    <h5 class="card-title py-3 px-3">available rooms</h5>
                    <p class="card-text py-3 px-3">Find available rooms.
                      <br> <br> <br>
                      <a routerLink='/roomreservation/available' class="stretched-link">Click here</a>
                    </p>
                  </div>
              </div>
          </div>
  
          <!--get reservation-->
          <div class="col-md-6 col-lg-4 py-5">
              <div class="card py-3 px-3">
                
                  <div class="card-body">
                    <h5 class="card-title py-3 px-3">get reservation</h5>
                    <p class="card-text py-3 px-3">Enter reservation ID to get details
                      <br> <br>
                      <a routerLink='/roomreservation/getReservation' class="stretched-link">Click here</a>
                    </p>
                  </div>
              </div>
          </div>

          <!--update reservation-->
          <div class="col-md-6 col-lg-4 py-5">
            <div class="card py-3 px-3">
              
                <div class="card-body">
                  <h5 class="card-title py-3 px-3">update reservation</h5>
                  <p class="card-text py-3 px-2">Update Reservation details
                    <br> <br> 
                    <a routerLink='/roomreservation/updateReservation' class="stretched-link">Click here</a>
                  </p>
                </div>
            </div>
        </div>

        <!--delete reservation-->
        <div class="col-md-6 col-lg-4 py-5">
            <div class="card py-3 px-3">
              
                <div class="card-body">
                  <h5 class="card-title py-3 px-3">cancel reservation</h5>
                  <p class="card-text py-3 px-3">Cancel a reservation
                    <br> <br>
                    <a routerLink='/roomreservation/deleteReservation' class="stretched-link">Click here</a>
                  </p>
                </div>
            </div>
        </div>

        <!--set rate-->
        <div class="col-md-6 col-lg-4 py-5">
          <div class="card py-3 px-3">
            
              <div class="card-body">
                <h5 class="card-title py-3 px-3">set rate</h5>
                <p class="card-text py-3 px-3">Set Rate for a room.
                  <br> <br> <br>
                  <a routerLink='/roomreservation/setRate' class="stretched-link">Click here</a>
                </p>
              </div>
          </div>
      </div>
          
      </div>
  </div>
  <app-footer-white></app-footer-white>
  </div>
  
  
  