
.image{
    position: fixed;
    top: 0%;
    left: 0%;
    min-width: 100%;
    min-height: 100%;
    background-image: url("../../assets/home.jpg");
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;
}

h3{
    
    padding-bottom: 30px;
    color: black;
    opacity: 1;
    font-weight: 600;
}

.carousel-inner{
    width: 60%;
    height: 65%;
    margin: auto;
}
.carousel-control-prev
{
    left: 80px;
    top: 80px;
}    
.carousel-control-next
{
    right: 80px;
    top: 80px;
}

a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
a:hover{
    color: white;
    background-color: transparent;
    font-size: 25px;
}
img{
    height: 500px;
}
app-footer-dark{
    color:white;
}