<div class="container"><div class=" text-center mt-5 ">
    <h1>Update Reservation</h1>
</div>
<div class="row ">
    <div class="col-lg-7 mx-auto">
        <div class="card mt-2 mx-auto p-4 bg-light">
            <div class="card-body bg-light">
                <div class="container">
                    <form class="form">
                        <div class="col-md-6">
                            <div class="form-group"> 
                                <label for="membershipId">Reservation ID</label> 
                                <input type="text" #membershipId=ngModel name="membershipId" class="form-control" placeholder="Enter reservation ID " required="required" [(ngModel)]='reservationData._id'> 
                                <small [class.d-none] = "membershipId.untouched || membershipId.valid" class="text-danger">Reservation Id is required</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"> <button class="btn btn-success btn-send pt-2 btn-block " (click)="getReservation()">GET RESERVATION</button> </div>
                        </div>
                    </form>
                    


                    <form class="form" *ngIf='display'>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group"> 
                                    <label for="membershipId">Membership ID</label> 
                                    <input type="text" #membershipId=ngModel name="membershipId" class="form-control" placeholder="Enter membership ID *" required="required" [(ngModel)]='reservationData.membershipId'> 
                                    <small [class.d-none] = "membershipId.untouched || membershipId.valid" class="text-danger">Membership Id is required</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"> 
                                    <label for="roomNo">Room Number</label> 
                                    <input  type="number" #roomNo=ngModel name="roomNo" class="form-control" placeholder="Enter room Number" required="required" [(ngModel)]="reservationData.roomNo"> 
                                    <small [class.d-none] = "roomNo.untouched || roomNo.valid" class="text-danger">Room number is required</small>
                                </div>
                            </div>
                        </div>
                        
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group"> 
                                <label for="noOfChildren">Number of Children</label> 
                                <input type="number" #noOfChildren=ngModel name="noOfChildren" class="form-control" placeholder="Enter the number of children" required="required" [(ngModel)]="reservationData.noOfChildren"> 
                                <small [class.d-none] = "noOfChildren.untouched || noOfChildren.valid" class="text-danger">Number of children is required</small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group"> 
                                <label for="noOfAdults">Number of Adults</label> 
                                <input type="number" #noOfAdults=ngModel name="noOfAdults"  class="form-control" placeholder="Enter the number of adults" required="required" [(ngModel)]="reservationData.noOfAdults">
                                <small [class.d-none] = "noOfAdults.untouched || noOfAdults.valid" class="text-danger">No of adults is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group"> 
                                <label for="checkInDate">Check-In Date</label> 
                                <input type="date" #checkInDate=ngModel name="checkInDate" class="form-control" placeholder="Enter check-In Date" required="required" [ngModel]="reservationData.checkInDate | date:'yyyy-MM-dd'" (ngModelChange)="reservationData.checkInDate = $event" [min]="minDate1">
                                <small [class.d-none] = "checkInDate.untouched || checkInDate.valid" class="text-danger">Check-In date is required</small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group"> 
                                <label for="checkOutDate">Check-Out Date</label> 
                                <input  type="date" #checkOutDate=ngModel name="checkOutDate" class="form-control" placeholder="Enter check-Out Date" required="required"[ngModel]="reservationData.checkOutDate | date:'yyyy-MM-dd'" (ngModelChange)="reservationData.checkOutDate = $event" [min]="minDate2">
                                <small [class.d-none] = "checkOutDate.untouched || checkOutDate.valid" class="text-danger">Check-Out date is required</small> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group"> 
                                <label for="verificationDoc">Document for verification</label> 
                                <input type="text" #verificationDoc=ngModel name="verificationDoc" class="form-control" placeholder="Document for verification" required="required" [(ngModel)]="reservationData.verificationDoc"> 
                                <small [class.d-none] = "verificationDoc.untouched || verificationDoc.valid" class="text-danger">Verification Document is required</small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group"> 
                                <label for="additionalRequirements">Additional requirement</label> 
                                <input type="text" name="additionalRequirements" class="form-control" placeholder="Add additional requirements" required="required" [(ngModel)]="reservationData.additionalRequirements"> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"> <button class="btn btn-success btn-send pt-2 btn-block " (click)="updateReservation()" data-toggle="modal" data-target="#Modal1">UPDATE RESERVATION</button> </div>
                        <br> <br>
                        <div class="col-md-12"> <button class="btn btn-success btn-send pt-2 btn-block " routerLink="/roomreservation">CANCEL AND GO BACK</button> </div>
                        
                    </div>

                    </form>
                </div>
            </div>
        </div> 
    </div> 
</div>
</div>


<!--modal for update-->
<div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel"> Confirm delete </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{response}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal"  >OK</button>
        </div>
      </div>
    </div>
</div>
